
header{
  height: 0;
  /*background: -webkit-linear-gradient(blue, #f2f2f2);*/
  background-color: blue;
  color: #f2f2f2;
  transition: 500ms;
  overflow: hidden;
}

article{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  position: absolute;
  top: 80px;
}

article h1 {
  transition: 300ms;
  margin-left: 40px;
  z-index: 9999;
}

article li {
  margin-bottom: 0;
  padding: 0;
  margin-right: 40px;
  margin-top: -5px;
  z-index: 999999;
}

.contact{
  margin-left: 50px;
  display: flex;
}

body{
  font-size: 80px;
}

main {
  padding: 20px;
  transition: margin 500ms;
}

h1 {
  font-family: 'Nimbus Sans';
  font-weight: 900;
  font-size: 200px;
  margin: 0;
  padding: 0;
  margin-top: -70px;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

h2{
  font-family: 'Nimbus Sans';
  font-weight: 900;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: black;
  margin: 0;
  padding: 0;
}

h3{
  font-family: 'LiSong Pro','Times New Roman';
  font-weight: 100;
  margin: 0;
  padding: 0;
}

li h3 {
  margin-left: 30px;
  margin-right: 20px;
  float: left;
  letter-spacing:4px;
}

h4 {
  font-family: 'Nimbus Sans';
  font-weight: 500;
  margin:0;
  padding:0;
  font-size: 20px;
}

h6{
  font-family: 'LiSong Pro', 'Times New Roman';
  font-weight: 100;
  font-size: 230px;
  margin: 0;
  padding: 0;
  margin-top: -20px;
}

p{
  font-family: 'LiSong Pro','Times New Roman';
  font-weight: 500;
  margin:0;
  padding:0;
  font-size: 20px;
  margin-bottom: 20px;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  cursor: ne-resize	;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}


li{
  margin: 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  transition: background-color 200ms;
}

.oval{
  width: 120px;
  height: 80px;
  display: block;
  background-color: transparent;
  border: 1px solid rgba(0,0,0,.4);
  border-radius: 120px / 80px;

  transition: 300ms;
  transform-origin: bottom;
  margin-top: 8px;

  float: left;
}

li:hover .oval {
  transform: rotateZ(7deg);
}

.num{
  font-family: 'Nimbus Sans';
  font-weight: 800;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.5px;
  margin-left: -24px;
  margin-right: 10px;
  font-size: 40px;
  text-align: center;
  margin-top: 19px;
  transition: 300ms;
  text-align: right;
}

.infoOval{
  -webkit-text-stroke-width: 1px;
}

.infoOval .num{
  -webkit-text-stroke-width: 1px;
}

.infoOval:hover{
  cursor: s-resize;
}

li img{
  height: 100px;
  margin: 14px;
  transition: 400ms;
  cursor: pointer;
}

header img{
  height: 180px;
}

@keyframes marquee {
  0%   { text-indent: 27.5em }
  100% { text-indent: -105em }
}

.marquee {
  font-size: 48px;
  height: 70px;
  padding-top: 20px;
  font-family: 'LiSong Pro';
  padding-bottom: 2px;
  color: #f2f2f2;
  width: 100%;
  position: absolute;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  animation: marquee 50s linear infinite;
}

.marquee:hover {
    animation-play-state: paused
}

.marquee a{
  color: #f2f2f2;
  text-decoration: underline;
}

.arenatv:hover{
  color: #17AC10;
}

.arenatv:hover .oval{
  border-color: #17AC10;
}

.arenatv:hover .num{
  -webkit-text-stroke-color: #17AC10;
}

.pnodes:hover{
  color: #FFAB91;
}

.printer:hover{
  color: #0021FF;
}

.title{
  word-wrap: break-word;
  /*margin-left: 40px;*/
}

.info{
  margin-bottom: 200px;
  padding-left: 150px;
  width: 100%;
  color: rgba(0,0,0, .6);
  font-family: 'Times New Roman';
  /*display: flex;
  justify-content: space-between;*/
}

.info h4{
  font-family: 'Times New Roman';
  /*display: flex;
  justify-content: space-between;*/
}
