
header{
  padding: 0px 20px 0px 40px;
  height: 0;
  display: flex;
  width: 100%;
  align-items: flex-end;
  background: -webkit-linear-gradient(red, white);
  /*background-color: red;*/
  color: white;
  transition: 500ms;
  overflow: hidden;
  flex-direction: column-reverse;

}

article{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  position: absolute;
  top: 40px;
}

article h1 {
  transition: 300ms;
  margin-right: 40px;
  /*background-color: white;*/
}

article li {
  margin-bottom: 0;
  padding: 0;
  margin-left: 40px;
  margin-top: 40px;
}

.contact{
  margin-left: 50px;
  display: flex;
}

body{
  font-size: 100px;
}

main {
  padding: 20px;
  transition: margin 400ms;
}

h1 {
  font-family: 'Nimbus Sans';
  font-weight: 900;
  font-size: 200px;
  margin: 0;
  padding: 0;
  margin-top: -40px;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

h2{
  font-family: 'Nimbus Sans';
  font-weight: 900;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: black;
  margin: 0;
  padding: 0;
}

h3{
  font-family: 'Times New Roman';
  font-weight: 100;
  margin: 0;
  padding: 0;
}

li h3 {
  margin-left: 30px;
  margin-right: 20px;
  float: left;
  letter-spacing:4px;
  /*text-transform: uppercase;*/
  /*font-weight: bold;*/
}

h4 {
  font-family: 'Nimbus Sans';
  font-weight: 500;
  margin:0;
  padding:0;
  font-size: 20px;
}

h6{
  font-family: 'Times New Roman';
  font-weight: 100;
  font-size: 230px;
  margin: 0;
  padding: 0;
  margin-top: -20px;
}

p{
  font-family: 'Times New Roman';
  font-weight: 500;
  margin:0;
  padding:0;
  font-size: 20px;
  margin-bottom: 20px;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  cursor: pointer;
  /*cursor: url("./images/external.png"), -moz-zoom-in;*/
}

a[target="_blank"] {
    cursor: ne-resize;
}


ul{
  list-style: none;
  margin: 0;
  padding: 0;
}


li{
  margin: 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  transition: background-color 200ms;
}

.oval{
  width: 100px;
  height: 60px;
  display: block;
  background-color: transparent;
  border: 1px solid rgba(0,0,0,.4);
  border-radius: 100px / 60px;

  transition: 300ms;
  transform-origin: bottom;

  float: left;
}

li:hover .oval {
  transform: rotateZ(7deg);
}

.num{
  font-family: 'Nimbus Sans';
  font-weight: 800;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.5px;
  margin-right: 20px;
  font-size: 40px;
  width: 160px;
  text-align: center;
  margin-top: 8px;
  transition: 300ms;
}

.infoOval{
  margin-top: 0;
}

.infoOval:hover{
  cursor: pointer;
}

li img{
  height: 100px;
  margin: 14px;
  transition: 400ms;
  cursor: pointer;
}

header img{
  height: 180px;
}

.arenatv:hover{
  color: #17AC10;
}

.arenatv:hover .oval{
  border-color: #17AC10;
}

.arenatv:hover .num{
  -webkit-text-stroke-color: #17AC10;
}

.pnodes:hover{
  color: #FFAB91;
}

.printer:hover{
  color: #0021FF;
}

.title{
  word-wrap: break-word;
  /*margin-left: 40px;*/
}

.info{
  margin-bottom: 200px;
  padding-left: 150px;
  width: 100%;
  color: rgba(0,0,0, .6);
  font-family: 'Times New Roman';
  /*display: flex;
  justify-content: space-between;*/
}

.info h4{
  font-family: 'Times New Roman';
  /*display: flex;
  justify-content: space-between;*/
}
